/*!
 * Valério Luz Hasman Junior (https://www.linkedin.com/in/valerio-hasman/)
 * Licenciado sob MIT
 */

:root {
  --tempo-geral-animacao: 0.3s;
  --animacao-fechar: 0s linear var(--tempo-geral-animacao);
  --animacao-abrir: var(--tempo-geral-animacao) ease-in-out;
  --fechar: opacity var(--animacao-abrir), left var(--animacao-fechar), visibility var(--animacao-fechar);
  --abrir: left var(--animacao-abrir), visibility var(--animacao-abrir);
}

.section {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: auto;
}

.section,
.main:has(.section:nth-child(n+2):is(:target)) .section:first-child,
.main:has(.section:nth-child(n+2) *:is(:target)) .section:first-child {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  left: 100%;
  transition: var(--fechar);
}

.section:target,
.section:has(*:target),
.section:first-child {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: var(--abrir);
}