body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#position-area-form {
  top: 0;
  right: 2px;
  position: fixed;
}

.anchor {
  anchor-name: --myAnchor;
  resize: both;
}

.infobox {
  position-anchor: --myAnchor;
  position: fixed;
  backdrop-filter: blur(2px);
  resize: both;
}

.text-break-spaces {
  white-space: break-spaces;
}

.ancorado-select-ao-botao {
  user-select: none;
  margin: 0;
  min-width: min-content;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  position: fixed;
  inset: unset;
  position-area: span-right bottom;
  position-try-order: most-height;
  position-try-fallbacks:
    span-left bottom,
    span-right top,
    span-left top,
    bottom,
    top;
}
