@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --bs-body-font-family: "Nunito", "Noto Sans Symbols 2", var(--bs-font-sans-serif);
  --bs-font-monospace: var(--bs-font-monospace), "Noto Sans Symbols 2";
}

.logo {
  height: calc(1.375rem + 1.5vw);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input#inpcaracAll {
  width: 6ch;
  text-align: center;
}
