.logo {
  height: calc(1.375rem + 1.5vw);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input#inpcaracAll {
  width: 6ch;
  text-align: center;
}