@import url(scrollbar-width-color-theme-thin.css);

body {
  height: 100dvh;
  overflow-y: auto;
}

:root {
  --bs-border-radius: 0.5rem;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#conteudo {
  overscroll-behavior-y: contain;
}

#conteudo p {
  background-color: aqua;
  width: fit-content;
  max-width: 75%;
  margin: 0.8em 1em 0.2em 0;
  padding: 1em;
  border-radius: 1em;
  align-self: flex-end;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

textarea {
  field-sizing: content;
  width: 100%;
  max-height: 8rem;
  resize: none;
}

[alt="Ícone"] {
  width: 1.5em;
}