* {
  box-sizing: border-box;
  transition: all .2s ease-out;
}

body {
  margin: 0;
}

.ss-container-y {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

.ss-container-x {
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.ss-item {
  scroll-snap-align: center;
}

.tela {
  height: 100vh;
  height: 100dvh;
}

.conteudovp {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.video,
.perfil {
  height: 100%;
  width: 100%;
  flex: none;
}

.video {
  display: flex;
  justify-content: center;
}

.perfil {
  overflow: auto;
  background-image: linear-gradient(rgb(89, 94, 106), rgb(152, 176, 198));
  overscroll-behavior-y: contain;
}

.conteudoperfil {
  height: 500%;
  background-image: url(./fundo.jpg);
}

video {
  width: 100%;
  background-color: black;
}