nav a {
  transition: background-color 700ms 350ms ease-out;
  border-radius: .5rem;
}

nav a:active {
  transition: none;
  background-color: #80808080;
}

input[type=range] {
  touch-action: none;
}

.dvh-100 {
  height: 100dvh !important;
}

form :invalid {
  border-color: var(--bs-form-invalid-border-color);
}

form :invalid:focus {
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
}

label:has(input:required) :where(div, span):not(:has(>*))::after {
  content: " *";
  color: rgb(var(--bs-danger-rgb));
}


label {
  user-select: none;
}