::-webkit-scrollbar {
  max-width: 5px;
  max-height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #80808080;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}