@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR:wght@100..400&display=swap');

.playwrite-br-guides-regular {
  font-family: "Playwrite BR Guides", cursive;
  font-weight: 400;
  font-style: normal;
}


.playwrite-br {
  font-family: "Playwrite BR", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.botao {
  padding: 2rem;
  background-color: transparent;
  transition: background-color 150ms, color 150ms;
  border-radius: 1rem;
  border: none;
}

.botao:focus-visible {
  background-color: rgba(95, 158, 160, 0.195);
}

.botao:active{
  transition: background-color 0s, color 0s;
  color: white;
  background-color: cadetblue;
}


:has(#maiusculo:checked) {
  .fonte-custom {
    text-transform: uppercase;
  }
}

:has(#cursivo:checked) {
  .fonte-custom {
    font-family: "Playwrite BR", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
}

:has(#grafia:checked) {
  .fonte-custom {
    font-family: "Playwrite BR Guides", cursive;
    font-weight: 400;
    font-style: normal;
  }
}