.vjButton {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  border: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 1s cubic-bezier(0, -1, 0, -1);
  font-size: medium;
}


.vjButton.close {
  font-size: revert;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: .4rem;
  margin-right: .4rem;
  padding: .8rem;
  background-color: transparent;
  border: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>');
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: auto;
}

.vjButton:active {
  background-color: rgba(0, 0, 0, 0.12);
  transition: none;
}

.inMenu {
  margin-top: 1rem;
  margin-left: 0.5rem;
  float: right;
  min-height: 2.5rem;
}