@import url(button.css);
@import url(dialog.css);

:root,
[data-bs-theme=light] {
  --bs-body-bg: #FFBFF2;
  --bs-body-bg-rgb: 255, 191, 242;
}

[data-bs-theme=dark] {
  --bs-body-bg: #56002F;
  --bs-body-bg-rgb: 86, 0, 47;
}

body,
dialog {
  overscroll-behavior-y: contain;
  user-select: none;
}

.h100vh {
  height: 100vh;
  height: 100dvh;
}

.tela {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flex-grow {
  flex-grow: 1;
}

.jogo {
  column-gap: 3vw;
  row-gap: 1rem;
  /* animation: gaping 2s infinite alternate linear; */
}

@keyframes gaping {
  from {
    column-gap: 1vw;
  }

  to {
    column-gap: 30vw;
  }
}

.botao {
  width: calc((20vw + 20vh) / 2);
  aspect-ratio: 1/1;
  border-radius: 50%;
  --bs-btn-active-bg: #ffff00;
}

.botao:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
}

.botao:active {
  background-color: var(--bs-btn-active-bg);
  box-shadow: 0 0 1rem 1rem var(--bs-btn-active-bg) !important;
  transition: 0s all;
}

.telaDePreferencia {
  background-color: violet;
}

.telaIniciar {
  background-color: violet;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
@starting-style {
  .imagemInicio img {
    opacity: 0;
  }
}

.telaIniciar .imagemInicio {
  width: calc((40% + 40%) / 2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: jumpupButtton 2s infinite alternate ease-in-out, fadeINImagem 2s ease-in-out;
}


.telaIniciar.ok{
  display: none;
  opacity: 0;
  scale: 3;
  transition: 1s all ease-in-out allow-discrete;
}

@keyframes fadeINImagem {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes jumpupButtton {
  from {
    scale: 0.7;
  }

  to {
    scale: 1;
  }
}

.Coelho {
  width: 100%;
  height: 100%;
}
.Coelho svg {
  width: 100%;
  height: 100%;
  translate: 0 100%;
  animation: coelhoPula 1s linear;
}

@keyframes coelhoPula {
  0% {
    translate: 0 100%;
  }
  50% {
    translate: 0 0;
  }
  100% {
    translate: 0 100%;
  }
}

.Coelho:active svg {
  animation: none;
}